*{
    margin: 0;
    padding: 0;
}

body {
	font-family: Lato, sans-serif;
    background-color: black;
    background-image: url("../images/sky.jpg");
    margin-bottom: 50px;
}



.more {			
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    padding-top: 50px;
}
.more div {				
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
}
#character{   
    display:flex;
    align-items: center;
}
#info{
    
    display: flex;
    align-items: center;
}

.image{
    border-radius: 25px;
}

#trailer{
    position: relative;
    padding-bottom: 56.25%;
    /* Default for 1600x900 videos 16:9 ratio*/
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}


iframe {
    position: absolute;
    top: 5%;
    left: 12%;
    width: 76%;
    height: 76%;
    border-radius: 25px;
    box-shadow: 0.5px 0.5px 2px 0.5px rgb(255, 0, 0);

}

a :hover{
    box-shadow: 1px 1px 5px 5px rgb(255, 0, 0);
}









